#tweecool ul {
margin: 0;
padding: 0;
}
#tweecool li {
list-style: none;
clear: both;
} #tweecool>li img, .twitter-widget li .tweets_txt {
float: left;
margin-bottom: 10px;
} #tweecool li img {
-webkit-border-radius: 48px;
-moz-border-radius: 48px;
border-radius: 48px;
margin: 0 10px 10px 0;
float: left;
}
#tweecool li .tweets_txt {
margin-bottom: 10px;
}
#tweecool li .tweets_txt span {
font-style: italic;
display: block;
float: right;
margin-bottom: 20px;
font-size: 0.8em;
}
